@charset "UTF-8";

body
{
  padding:0;
  margin:0;
  background-image:radial-gradient(farthest-corner circle, rgb(248,248,248) 20%, #c4d1d6);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes AddClassPlatformAction
{
  from
  {
    opacity: 0.0;
    visibility: hidden;
    margin-left: 1%;
  }
  to
  {
    opacity: 1;
    visibility: visible;
    margin-left: 33%;
  }
}
div.AddClassPlatform
{
  width:450px;
  background-image:radial-gradient(circle, #FFF 35%, #ccd8dd);
  border-radius:15px;
  border:6px solid #ccd8dd;
  box-shadow:0px 0px 6px 2px #ccd8dd;
  margin-top: 5%;
  font-family:Ubuntu;
  animation: AddClassPlatformAction 600ms;
  animation-fill-mode: forwards;
}

/*Texttitle*/
@keyframes AddClassTextAction
{
  from
  {
    font-size: 25px;
    text-align:center;
    opacity: 0.0;
  }
  to
  {
    font-size: 18px;
    text-align:center;
    visibility: visible;
    opacity: 1;
  }
}
div#AddClassText
{
  color: #3789ac;
  font-family: sans-serif;
  margin-top: 20px;
  text-align:center;
  visibility: hidden;
  animation: AddClassTextAction 500ms;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
  letter-spacing: 1.5px;
}

/*ClassConfirm*/
@keyframes AddClassConfirmAction
{
  from
  {
    height: 0;
    opacity: 0.0;
  }
  to
  {
    height: 395px;
    visibility: visible;
    opacity: 1;
  }
}
div#AddClassConfirm
{
  width:447px;
  background-color: rgb(248,248,248);
  margin-left:2px;
  animation: AddClassConfirmAction 400ms;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
  visibility: hidden;
}

/*LebelGroup*/
@keyframes lebelGroupAction
{
  from
  {
    opacity: 0.0;
    margin-left:-50%;
  }
  to
  {
    visibility: visible;
    opacity: 1;
    margin-left:0%;
  }
}
div#lebelGroup
{
  animation: lebelGroupAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
  visibility: hidden;
}
label#libeltext
{
  margin-left:6%;
  color: #000;
  font-size: 15px;
  letter-spacing: 1.5px;
}
input#libelecader
{
  margin-left:28.5%;
  width: 184px;
  height:30px;
  border-radius:5px;
  box-shadow:0px 0px 2px 2px silver;
  border:1px solid silver;
  letter-spacing: 1.5px;
  font-size: 15px;
  outline: none;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

/*ModeGroup*/
@keyframes modeGroupAction
{
  from
  {
    opacity: 0.0;
    margin-left:30%;
  }
  to
  {
    visibility: visible;
    opacity: 1;
    margin-left:0%;
  }
}
div#modeGroup
{
  animation: modeGroupAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 700ms;
  visibility: hidden;
}
label#modetext
{
  margin-left:6%;
  color: #000;
  font-size: 15px;
  letter-spacing: 1.5px;
}
input#difficultycader
{
  margin-left:8%;
  width: 110px;
  height:30px;
  border-radius:5px;
  box-shadow:0px 0px 2px 2px silver;
  border:1px solid silver;
  letter-spacing: 1.5px;
  font-size: 15px;
  outline: none;
  padding-left: 10px;
  background-color: #fff;
  color: #000;
}

/*DescriptionGroup*/
@keyframes descriptiontextAction
{
  from
  {
    opacity: 0.0;
    margin-left:-50%;
  }
  to
  {
    visibility: visible;
    opacity: 1;
    margin-left:6%;
  }
}
@keyframes descriptioncaderAction
{
  from
  {
    opacity: 0.0;
    height:0px;
  }
  to
  {
    visibility: visible;
    opacity: 1;
    height:150px;
  }
}
label#descriptiontext
{
  animation: descriptiontextAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 800ms;
  visibility: hidden;
  color: #000;
  font-size: 15px;
  letter-spacing: 1.5px;
}
textarea#descriptioncader
{
  margin-left:6%;
  width: 370px;
  border:1px solid silver;
  border-radius:5px;
  box-shadow:0px 0px 2px 2px silver;
  overflow-y:scroll;
  animation: descriptioncaderAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 900ms;
  visibility: hidden;
  letter-spacing: 1.5px;
  font-size: 13px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  background-color: #fff;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

/*SubmitAddClass*/
@keyframes submitAddClassAction
{
  from
  {
    opacity: 0.0;
    transform: scale(0,0);
  }
  to
  {
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
  }
}
button#submitAddClass
{
  background-image:linear-gradient(#a7e1fc,#3cbaf4);
  border-radius: 20px;
  border:1px ridge #55c2f5;
  box-shadow: 0px 2px 1px #b1b7ba;
  padding: 8px;
  width: 90px;
  color:#fff;
  transition-property:box-shadow;
  transition-duration:300ms;
  margin-left:74%;
  margin-top:2%;
  transform: scale(0,0);
  visibility: hidden;
  animation: submitAddClassAction 400ms;
  animation-fill-mode: forwards;
  animation-delay: 1200ms;
  outline: none;
  cursor: inherit;
  font-size: 15px;
  letter-spacing: 1.5px;
}
button#submitAddClass:hover
{
   box-shadow: 1px 1px 4px 4px #a7e1fc;
}

/*Error*/
@keyframes ErrorAddClassAction
{
  from{opacity: 0.0; visibility: hidden;}
  to{opacity: 1; visibility: visible;}
}
@keyframes ErrorAddClassRAction
{
  to{opacity: 0.0; visibility: hidden;}
  from{opacity: 1;}
}
div#AddClassError
{
  color: #ff007d;
  margin-top: 1%;
  margin-left: 4px;
  opacity: 0.0;
  font-size: 15px;
  visibility: hidden;
  letter-spacing: 1px;

}
div#AddClassError2
{
  color: #ff007d;
  margin-top: -4%;
  margin-left: 3px;
  opacity: 0.0;
  font-size: 15px;
  visibility: hidden;
  letter-spacing: 1px;
}
div#AddClassError3
{
  color: #ff007d;
  margin-top: -4%;
  text-align: center;
  margin-left: 3px;
  opacity: 0.0;
  letter-spacing: 1.5px;
  font-size: 15px;
  visibility: hidden;
}
