@charset "UTF-8";

body
{
  padding:0;
  margin:0;
  background-image:radial-gradient(farthest-corner circle, rgb(248,248,248) 20%, #c4d1d6);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Platform*/
@keyframes AddTagPlatformAction
{
  from
  {
    opacity: 0.0;
    visibility: hidden;
  }
  to
  {
    opacity: 1;
    visibility: visible;
  }
}
div.AddTagPlatform
{
  width:493px;
  background-image:radial-gradient(circle, #FFF 35%, #ccd8dd);
  border-radius:15px;
  border:6px solid #ccd8dd;
  box-shadow:0px 0px 6px 2px #ccd8dd;
  margin-left: 33%;
  margin-top: 0.5%;
  font-family:Ubuntu;
  animation: AddTagPlatformAction 600ms;
  animation-fill-mode: forwards;
}

/*Texttitle*/
@keyframes AddTagTextAction
{
  from
  {
    font-size: 25px;
    text-align:center;
    opacity: 0.0;
  }
  to
  {
    font-size: 18px;
    text-align:center;
    visibility: visible;
    opacity: 1;
  }
}
div#AddTagText
{
  color: #3789ac;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 20px;
  text-align:center;
  visibility: hidden;
  animation: AddTagTextAction 500ms;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
  letter-spacing: 1.5px;
}

/*ClassConfirm*/
@keyframes AddTagConfirmAction
{
  from
  {
    opacity: 0.0;
  }
  to
  {
    visibility: visible;
    opacity: 1;
  }
}
div#AddTagConfirm
{
  width:490px;
  background-color: rgb(248,248,248);
  margin-left:2px;
  animation: AddTagConfirmAction 400ms;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
  visibility: hidden;
}

/*LebelGroup*/
@keyframes lebelGroupTagAction
{
  from
  {
    opacity: 0.0;
    margin-left:-50%;
  }
  to
  {
    visibility: visible;
    opacity: 1;
    margin-left:0%;
  }
}
div#lebelGroup
{
  animation: lebelGroupTagAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
  visibility: hidden;
}
label#libeltext
{
  margin-left:6%;
  letter-spacing: 1.5px;
  color: #000;
  font-size: 15px;
}
input#libelcader
{
  margin-left:25%;
  width: 222px;
  height:30px;
  border-radius:5px;
  box-shadow:0px 0px 2px 2px silver;
  border:1px solid silver;
  letter-spacing: 1.5px;
  font-size: 15px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  color: #000;
}

/*CoefficientGroup*/
@keyframes CoefficientGroupAction
{
  from
  {
    opacity: 0.0;
    margin-left:50%;
  }
  to
  {
    visibility: visible;
    opacity: 1;
    margin-left:6%;
  }
}
div#coefficientGroup
{
  animation: CoefficientGroupAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 700ms;
  visibility: hidden;
}
label#coefficienttext
{
  letter-spacing: 1.5px;
  color: #000;
  font-size: 15px;
}
input#CoefficientCader
{
  margin-left:17.8%;
  width: 110px;
  height:30px;
  border-radius:5px;
  box-shadow:0px 0px 2px 2px silver;
  border:1px solid silver;
  letter-spacing: 1.5px;
  font-size: 15px;
  outline: none;
  padding-left: 10px;
  background-color: #fff;
  color: #000;
}

/*ModeGroup*/
@keyframes ModeAction
{
  from
  {
    opacity: 0.0;
    margin-left:-50%;
  }
  to
  {
    visibility: visible;
    opacity: 1;
    margin-left:6%;
  }
}
div#modeGroup
{
  animation: ModeAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 800ms;
  visibility: hidden;
}
label#modetext
{
  letter-spacing: 1.5px;
  color: #000;
  font-size: 15px;
}
input#difficultycader
{
  margin-left:20.3%;
  width: 112px;
  height:30px;
  border-radius:5px;
  box-shadow:0px 0px 2px 2px silver;
  border:1px solid silver;
  letter-spacing: 1.5px;
  font-size: 15px;
  outline: none;
  background-color: #fff;
  padding-left: 10px;
  color: #000;
}

/*MatiereList*/
@keyframes RepportAddTagAction
{
  from{opacity: 0.0;}
  to{opacity: 1; visibility: visible;}
}
p#report
{
   margin-left:6%;
   animation: RepportAddTagAction 500ms;
   animation-fill-mode: forwards;
   animation-delay: 900ms;
   visibility: hidden;
   letter-spacing: 1.5px;
   color: #000;
   font-size: 15px;
}
th
{
  border:1px solid #3789ac;
  text-align:center;
}
table
{
  width:428px;
  height:250px;
  border-collapse:collapse;
  border:1px solid #3789ac;
  margin-left:6%;
  box-shadow:0px 0px 1px 1px silver;
  letter-spacing: 1.5px;
  font-size: 15px;
  animation: RepportAddTagAction 500ms;
  animation-fill-mode: forwards;
  animation-delay: 1050ms;
  visibility: hidden;
  color: #000;
}
input[type = checkbox]
{
  cursor: inherit;
}
td#Class
{
  width: 20px;
  border:1px solid #3789ac;
  text-align:center;
}
td#Classtext
{
  border:1px solid #3789ac;
  text-align:center;
}

/*Error*/
@keyframes ErrorAddTagAction
{
  from{opacity: 0.0; visibility: hidden;}
  to{opacity: 1; visibility: visible;}
}
@keyframes ErrorAddTagRAction
{
  to{opacity: 0.0; visibility: hidden;}
  from{opacity: 1;}
}
div#AddTagError1
{
  color: #ff007d;
  text-align: center;
  margin-left: 3px;
  opacity: 0.0;
  margin-top: 2%;
  font-size: 15px;
  letter-spacing: 1.5px;
  visibility: hidden;
}
div#AddTagError2
{
  color: #ff007d;
  text-align: center;
  letter-spacing: 1px;
  margin-left: 3px;
  opacity: 1;
  margin-top: -3.5%;
  font-size: 15px;
  visibility: hidden;
}
div#AddTagError3
{
  color: #ff007d;
  text-align: center;
  margin-left: 3px;
  letter-spacing: 1px;
  opacity: 0.0;
  margin-top: -3.5%;
  font-size: 15px;
  visibility: hidden;
}
div#AddTagError4
{
  color: #ff007d;
  text-align: center;
  margin-left: 3px;
  letter-spacing: 1px;
  opacity: 0.0;
  margin-top: -3.5%;
  font-size: 15px;
  visibility: hidden;
}
div#AddTagError5
{
  color: #ff007d;
  text-align: center;
  margin-left: 3px;
  opacity: 0.0;
  margin-top: -3.5%;
  font-size: 15px;
  visibility: hidden;
  letter-spacing: 1.5px;
}
div#AddTagError6
{
  color: #ff007d;
  text-align: center;
  margin-left: 3px;
  opacity: 0.0;
  margin-top: -3.5%;
  font-size: 15px;
  visibility: hidden;
  letter-spacing: 1.5px;
}
div#AddTagError7
{
  color: #ff007d;
  text-align: center;
  margin-left: 3px;
  opacity: 0.0;
  margin-top: -3.5%;
  font-size: 15px;
  visibility: hidden;
  letter-spacing: 1.5px;
}

/*submitAddTag*/
@keyframes submitAddTagAction
{
  from
  {
    opacity: 0.0;
    transform: scale(0,0);
  }
  to
  {
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
  }
}
button#submitAddTag
{
  background-image:linear-gradient(#a7e1fc,#3cbaf4);
  border-radius: 20px;
  border:1px ridge #55c2f5;
  box-shadow: 0px 2px 1px #b1b7ba;
  padding: 8px;
  width: 90px;
  color:#fff;
  transition-property:box-shadow;
  transition-duration:300ms;
  margin-left:78%;
  margin-top:2%;
  transform: scale(0,0);
  visibility: hidden;
  letter-spacing: 1.5px;
  font-size: 15px;
  animation: submitAddTagAction 400ms;
  animation-fill-mode: forwards;
  animation-delay: 1200ms;
  outline: none;
  cursor: inherit;
}
button#submitAddTag:hover
{
   box-shadow: 1px 1px 4px 4px #a7e1fc;
}
