@charset "UTF-8";

body
{
  padding:0;
  margin:0;
  background-image:radial-gradient(farthest-corner circle, rgb(248,248,248) 20%, #c4d1d6);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes OpacityAction
{
  from{opacity: 0.0; visibility: hidden;}
  to{opacity: 1; visibility: visible;}
}
@keyframes ConfirmStudentAcountPlatformAction
{
  from{opacity: 0.0; visibility: hidden; transform: scale(0,0);}
  to{opacity: 1; visibility: visible; transform: scale(1,1);}
}
div.ConfirmStudentAcountPlatform
{
  width:520px;
  transform: scale(0,0);
  background-image:radial-gradient(circle, #FFF 35%, #ccd8dd);
  border-radius:15px;
  border:6px solid #ccd8dd;
  box-shadow:0px 0px 6px 2px #ccd8dd;
  margin-left: 34%;
  margin-top: 0.5%;
  animation: ConfirmStudentAcountPlatformAction 300ms;
  animation-fill-mode: forwards;
}

@keyframes finalConfirntextAction {
  from
  {
    font-size: 0;
  }
  to
  {
    visibility: visible;
    font-size: 18px;
  }
}
div#finalConfirntext
{
  color: #3789ac;
  font-family: sans-serif;
  margin-top: 20px;
  text-align:center;
  visibility: hidden;
  animation: finalConfirntextAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 300ms;
  letter-spacing: 1.5px;
}

div#confirmFinalStudent
{
  background-color: rgb(248,248,248);
  margin-left:5px;
  margin-right:5px;
  animation: OpacityAction 400ms;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
  visibility: hidden;
}

/*IdentityPicture*/
div.Pictureidentity
{
  width:160px;
  height:160px;
  background-color:white;
  margin-left:172px;
  border-radius:10px;
  border:1px ridge silver;
  box-shadow:0px 0px 2px 2px silver;
  animation: OpacityAction 600ms;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
  visibility: hidden;
}
div.Pictureidentity:hover
{
  box-shadow:0px 0px 2px 2px #55c2f5;
}
div#matricultext
{
  margin-left:188px;
  margin-top:5px;
  width:113px;
  animation: OpacityAction 600ms;
  animation-fill-mode: forwards;
  animation-delay: 700ms;
  visibility: hidden;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: #000;
}

/*StudentName*/
div#nametext
{
  margin-top:25px;
  margin-left:15px;
  animation: OpacityAction 600ms;
  animation-fill-mode: forwards;
  animation-delay: 850ms;
  visibility: hidden;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: #000;
}
p#namecader
{
  width:215px;
  height:26px;
  margin-left:52%;
  margin-top:-5%;
  border-radius:5px;
  border:1px solid silver;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: #000;
  background-color: #fff;
}

/*StudentSexe*/
div#sexetext
{
   margin-left:15px;
   animation: OpacityAction 600ms;
   animation-fill-mode: forwards;
   animation-delay: 950ms;
   visibility: hidden;
   letter-spacing: 1.5px;
   font-size: 15px;
   color: #000;
}
p#sexecader
{
  border:1px solid silver;
  width:80px;
  height:26px;
  margin-left:52%;
  margin-top:-5%;
  border-radius:5px;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: #000;
  background-color: #fff;
}

/*StudentSurnames*/
div#surnametext
{
   margin-left:15px;
   animation: OpacityAction 600ms;
   animation-fill-mode: forwards;
   animation-delay: 1050ms;
   visibility: hidden;
   letter-spacing: 1.5px;
   font-size: 15px;
   color: #000;
}
p#surnamecader
{
  border:1px solid silver;
  width:215px;
  height:26px;
  margin-left:52%;
  margin-top:-5%;
  border-radius:5px;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: #000;
  background-color: #fff;
}

/*StudentDateCreate*/
div#datetext
{
   margin-left:15px;
   animation: OpacityAction 600ms;
   animation-fill-mode: forwards;
   animation-delay: 1150ms;
   visibility: hidden;
   letter-spacing: 1.5px;
   font-size: 15px;
   color: #000;
}
p#datecader
{
  border:1px solid silver;
  width:215px;
  height:26px;
  margin-left:52%;
  margin-top:-5%;
  border-radius:5px;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: #000;
  background-color: #fff;
}

/*ClassOptions*/
div#classOptions
{
  margin-top:-5%;
  animation: OpacityAction 600ms;
  animation-fill-mode: forwards;
  animation-delay: 1250ms;
  visibility: hidden;
}
label#classtext
{
  margin-left:15px;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: #000;
}
select
{
  width:120px;
  height:26px;
  border-radius:5px;
  margin-left:38.2%;
  border:1px ridge silver;
  box-shadow:0px 0px 2px 2px silver;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: #000;
  background-color: #fff;
  outline: none;
  cursor: inherit;
}

/*SubmitInformationAcount*/
button#submitStudentAcount
{
  background-image:linear-gradient(#a7e1fc,#3cbaf4);
  border-radius: 20px;
  border:1px ridge #55c2f5;
  box-shadow: 0px 2px 1px #b1b7ba;
  padding: 8px;
  width: 90px;
  color:#fff;
  transition-property:box-shadow;
  transition-duration:300ms;
  margin-left:78%;
  margin-top:2%;
  animation: OpacityAction 600ms;
  animation-fill-mode: forwards;
  animation-delay: 1500ms;
  visibility: hidden;
  letter-spacing: 1.5px;
  font-size: 15px;
  outline: none;
  cursor: inherit;
}
button#submitStudentAcount:hover
{
   box-shadow: 1px 1px 4px 4px #a7e1fc;
}
