@charset "UTF-8";

body
{
  padding:0;
  margin:0;
  background-image:radial-gradient(farthest-corner circle, rgb(248,248,248) 20%, #c4d1d6);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*AcountPlatform*/
div.AcountPlatform
{
  width:680px;
  height:855px;
  background-image:radial-gradient(circle, #FFF 35%, #ccd8dd);
  border-radius:15px;
  border:6px solid #ccd8dd;
  box-shadow:0px 0px 6px 2px #ccd8dd;
  margin-left: 42%;
  margin-top: 0.5%;
  font-family:Ubuntu;
}

/*Texts*/
div#AcountText
{
  color: #3789ac;
  font-size: 18px;
  margin-top: 10px;
  text-align:center;
  letter-spacing:1.5px;
}

div#AcountText2
{
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  text-align:center;
  background-image:linear-gradient(#10C2F6,#3789ac);
  height:40px;
  width:637px;
  box-shadow:0px 0px 3px 3px gray;
  margin-left:20px;
  line-height:35px;
  letter-spacing:1.5px;
}

/*AcountConfirm*/
div#AcountConfirm
{
  height:690px;
  width:637px;
  margin-top:0.5%;
  background-color: rgb(248,248,248);
  border-top:1px ridge silver;
  border-bottom:1px ridge silver;
  margin-left:20px;
}

/*Identity*/
fieldset#IdentityAcount
{
  width:575px;
  margin-left:3%;
  border-radius:10px;
  border:1px solid #3789ac;
}
legend#IdentityText
{
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #000;
}

/*PictureIdentity*/
div.PictureidentityAcount
{
  width:160px;
  height:160px;
  background-color:white;
  border:1px ridge silver;
  margin-top:2%;
  margin-left:3%;
  border-radius:10px;
  box-shadow:0px 0px 2px 2px silver;
  color: #fff;
}
div.PictureidentityAcount:hover
{
  box-shadow:0px 0px 2px 2px #55c2f5;
}

/*NameText*/
div#nameGroup
{
  width: 340px;
  margin-left: 40%;
  margin-top: -28%;
}
label#nametext
{
  color: #000;
  letter-spacing: 1.5px;
  font-size: 15px;
}
input#namecader
{
  margin-left:19%;
  width:195px;
  height:30px;
  border-radius:5px;
  border:1px solid silver;
  box-shadow:0px 0px 2px 2px silver;
  color: #000;
  background-color: #fff;
  letter-spacing: 1.5px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

/*SurnameText*/
div#surnameGroup
{
  width: 340px;
  margin-left: 40%;
}
label#surnametext
{
  color: #000;
  letter-spacing: 1.5px;
  font-size: 15px;
}
input#surnamecader
{
  margin-left:5.5%;
  height:30px;
  width:195px;
  border-radius:5px ;
  border:1px solid silver ;
  box-shadow:0px 0px 2px 2px silver;
  color: #000;
  background-color: #fff;
  letter-spacing: 1.5px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

/*Sexe*/
fieldset#Sexe
{
  width:303px;
  border-radius:5px;
  border:1px solid black;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: #000;
  margin-left: 40%;
  background-color: rgb(248,248,248);
}
label#MaleRadio
{
  color: #000;
  letter-spacing: 1.5px;
  font-size: 15px;
}
label#FemaleRadio
{
  color: #000;
  letter-spacing: 1.5px;
  font-size: 15px;
}
div#Male
{
  width: 95px;
}
div#Female
{
  margin-left:70%;
  margin-top:-6%;
  width: 90px;
}

/*Date*/
div#dateGroup
{
  width: 333px;
  margin-left: 40%;
}
label#datetext
{
  color: #000;
  letter-spacing: 1.5px;
  font-size: 15px;
}
input#datecader
{
  height:30px;
  width:124px;
  margin-left:10%;
  border-radius:5px;
  border:1px solid silver ;
  box-shadow:0px 0px 2px 2px silver;
  color: #000;
  background-color: #fff;
  letter-spacing: 1.5px;
  font-size: 15px;
  padding-left: 10px;
  outline: none;
}

/*Aera*/
div#AeraGroup
{
  width: 333px;
  margin-left: 40%;
}
label#Aeratext
{
  color: #000;
  letter-spacing: 1.5px;
  font-size: 15px;
}
input#Aeracader
{
  height:30px;
  width:114px;
  margin-left:11%;
  border-radius:5px;
  border:1px solid silver ;
  box-shadow:0px 0px 2px 2px silver;
  color: #000;
  background-color: #fff;
  letter-spacing: 1.5px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

.confidentialite
{
width:575px;
height:290px;
margin-left:3%;
margin-top:5%;
border-radius:10px;
border:1px solid #3789ac;
}

.remplissage
{
margin-top:-200px;
margin-left:45%;
}

.lieu
{
margin-left:45%;
margin-top:-5%;
}

div#passtext
{
margin-top:2%;
margin-left:3%;
}
input#passcader
{
margin-left:30.5%;
height:25px;
width:260px;
border-radius:5px;
border:1px solid black;
box-shadow:0px 0px 3px 3px silver;
}

label#confirmtext
{
margin-left:3%;
}
input#confirmcader
{
margin-left:9%;
height:25px;
width:260px;
border-radius:5px;
border:1px solid black;
box-shadow:0px 0px 3px 3px silver;
}

label#contact
{
margin-left:3%;
}
input#contactcader
{
margin-left:19%;
height:25px;
width:260px;
border-radius:5px;
border:1px solid black;
box-shadow:0px 0px 3px 3px silver;
}

label#email
{
margin-left:3%;
}
input#emailcader
{
margin-left:39%;
height:25px;
width:260px;
border-radius:5px;
border:1px solid black;
box-shadow:0px 0px 3px 3px silver;
}

label#classTitle
{
margin-left:3%;
}
select#classTitlecader
{
margin-left:40.5%;
height:25px;
width:266px;
border-radius:5px;
border:1px solid black;
box-shadow:0px 0px 3px 3px silver;
}

label#afficher
{
font-size:11px;
}
input#afficher
{
margin-top:1%;
margin-left:51.5%;
}

button#submitMatricul
{
  background-image:linear-gradient(#a7e1fc,#3cbaf4);
  border-radius: 20px;
  border:1px ridge #55c2f5;
  box-shadow: 0px 2px 1px #b1b7ba;
  padding: 8px;
  width: 90px;
  color:#fff;
  transition-property:box-shadow;
  transition-duration:300ms;
  margin-left:82%;
  margin-top:2%;
}
button#submitMatricul:hover
{
   box-shadow: 1px 1px 4px 4px #a7e1fc;
}
Strong#Header
{
   font-size: 18px;
   letter-spacing: 2px;
}
