@charset "UTF-8";

body
{
  padding:0;
  margin:0;
  background-image:radial-gradient(farthest-corner circle, rgb(248,248,248) 20%, #c4d1d6);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes LoginPlatformAction
{
  from
  {
    opacity: 0.0;
    visibility: hidden;
    transform: scale(0,0);
  }
  to
  {
    opacity: 1;
    visibility: visible;
    transform: scale(1,1);
  }
}
div.LoginPlatform
{
  width:350px;
  transform: scale(0,0);
  background-image:radial-gradient(circle, #FFF 35%, #ccd8dd);
  border-radius:15px;
  border:6px solid #ccd8dd;
  box-shadow:0px 0px 6px 2px #ccd8dd;
  margin-left: 63.5%;
  margin-top: 11%;
  font-family:Ubuntu;
  animation: LoginPlatformAction 300ms;
  animation-fill-mode: forwards;
}

div#LoginText
{
  color: #3789ac;
  font-size: 22px;
  font-family: sans-serif;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

div#SmallFormulary
{
  background-color: rgb(248,248,248);
  margin-left:2px;
  margin-bottom: 5px;
  border-top: 1px ridge silver;
  border-bottom: 1px ridge silver;
  letter-spacing: 1.5px;
  font-size: 15px;
}

/*loginformdiv*/
@keyframes TextAction
{
  from
  {
    opacity: 0.0;
    visibility: hidden;
    margin-left:75px;
  }
  to
  {
    opacity: 1;
    visibility: visible;
    margin-left:33px;
  }
}
@keyframes CaderAction
{
  from
  {
    width:0;
    visibility: hidden;
  }
  to
  {
    width:280px;
    visibility: visible;
  }
}
label#identifytext
{
  margin-left:15px;
  visibility: hidden;
  animation: TextAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 300ms;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: #000;
}
input#identifycader
{
  margin-left:18px;
  height:30px;
  border-radius:20px;
  box-shadow:0px 0px 2px 2px silver;
  border:1px solid silver;
  visibility: hidden;
  animation: CaderAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
  letter-spacing: 1.5px;
  font-size: 15px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  color: #000;
}

label#passwordtext
{
  margin-left:15px;
  visibility: hidden;
  animation: TextAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
  letter-spacing: 1.5px;
  font-size: 15px;
  color: #000;
}
input#passwordcader
{
  margin-left:18px;
  width: 280px;
  height:30px;
  border-radius:20px;
  box-shadow:0px 0px 2px 2px silver;
  border:1px solid silver;
  visibility: hidden;
  animation: CaderAction 300ms;
  animation-fill-mode: forwards;
  animation-delay: 800ms;
  letter-spacing: 1.5px;
  font-size: 15px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  color: #000;
}

/*Error*/
@keyframes ErrorLoginAction
{
  from{opacity: 0.0;}
  to{opacity: 1; visibility: visible;}
}
@keyframes ErrorLoginRAction
{
  to{opacity: 0.0; visibility: hidden;}
  from{opacity: 1;}
}
div#LoginError1
{
  color: #ff007d;
  margin-top: -7.5%;
  text-align: center;
  margin-left: 3px;
  opacity: 0.0;
  letter-spacing: 1.5px;
  font-size: 15px;
  visibility: hidden;
}
div#LoginError2
{
  color: #ff007d;
  margin-top: -9.7%;
  margin-left: 3px;
  opacity: 0.0;
  letter-spacing: 1px;
  font-size: 15px;
  text-align: center;
  visibility: hidden;
}
div#LoginError3
{
  color: #ff007d;
  margin-top: -9.7%;
  text-align: center;
  margin-left: -5px;
  letter-spacing: 1.5px;
  opacity: 0.0;
  visibility: hidden;
  font-size: 15px;
}

/*ForgotPassword*/
@keyframes AnimatorDivSmallParametterAction
{
  from
  {
    opacity: 0.0;
    visibility: hidden;
    margin-top:10%;
  }
  to
  {
    opacity: 1;
    visibility: visible;
    margin-top:1%;
  }
}
div#forgetPassword
{
  width: 138px;
  margin-top: -7%;
  margin-left: 5%;
  letter-spacing:0.5px;
  font-size: 13px;
  transition:padding, letter-spacing;
  transition-duration:500ms;
}
a#ForgotPassword
{
  text-decoration: none;
  color:#009BFF;
}
div#forgetPassword:hover
{
  letter-spacing: 1px;
}

/*SubmitLogin*/
div#AnimatorDivSmallParametter
{
  height: 45px;
  visibility: hidden;
  animation: AnimatorDivSmallParametterAction 500ms;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
  margin-top: 1%;
}
div#btnLogin
{
  width: 97px;
  margin-left:68%;
  margin-top:4%;
}
button#submitLogin
{
  background-image:linear-gradient(#a7e1fc,#3cbaf4);
  border-radius: 20px;
  border:1px ridge #55c2f5;
  box-shadow: 0px 2px 1px #b1b7ba;
  padding: 9px;
  width: 90px;
  color:#fff;
  letter-spacing: 1px;
  text-align: center;
  transition-property:box-shadow;
  transition-duration:300ms;
  outline: none;
}
button#submitLogin:hover
{
  box-shadow: 1px 1px 4px 4px #a7e1fc;
  cursor: inherit;
}
