/**
* @project: GitLab - https://obrymec.gitlab.io/gitlab_home_page_clone/
* @fileoverview: GitLab footer variables stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP, MOBILE
* @file: variables.scss
* @created: 2023-07-21
* @updated: 2023-09-28
* @version: 0.0.1
*/

// Responsive breakpoints.
$footer-1216: "only screen and (max-width: 1216px)" !default;
$footer-768: "only screen and (max-width: 768px)" !default;
$footer-640: "only screen and (max-width: 640px)" !default;
$footer-460: "only screen and (max-width: 460px)" !default;

// Colors theme.
$footer-dropdown-bg-color: transparent !default;
$footer-bg-color: $primary-color !default;
$footer-text-color: #fff !default;
