/**
* @project: GitLab - https://obrymec.gitlab.io/gitlab_home_page_clone/
* @fileoverview: GitLab button variables stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP, MOBILE
* @file: variables.scss
* @created: 2023-08-03
* @updated: 2023-09-28
* @version: 0.0.2
*/

// Colors theme.
$button-bg-color: $primary-color !default;
$button-tr-bg: transparent !default;
$button-text-color: #fff !default;
