/**
* @fileoverview: GitLab app global collaborators placeholders stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @project: GitLab - https://www.google.com
* @supported: DESKTOP, MOBILE
* @file: placeholders.scss
* @created: 2023-06-24
* @updated: 2023-06-30
* @version: 0.0.1
*/

// Column flexbox.
%collaborators-column-flexbox {
	flex-direction: column;
  display: flex;
}

// Inline flexbox.
%collaborators-row-flexbox {
	flex-direction: row;
	display: flex;
}
