/**
* @project: GitLab - https://obrymec.gitlab.io/gitlab_home_page_clone/
* @fileoverview: GitLab navbar placeholders stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP, MOBILE
* @file: placeholders.scss
* @created: 2023-06-16
* @updated: 2023-09-28
* @version: 0.0.3
*/

// Custom dependencies.
@import "./_variables.scss";

// Free trial button with radius.
%navbar-free-trial-radius {
	border: 1px solid $navbar-btn-bg-color;
	border-radius: 4px;
}

// Column flex box.
%navbar-column-flexbox {
	flex-direction: column;
	display: flex;
}

// Inline flex box.
%navbar-inline-flexbox {
	align-items: center;
	flex-direction: row;
	display: flex;
}

// Top fixed.
%navbar-top-fixed {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
}

// Icon option.
%navbar-icon-option {
	filter: brightness(100%);
	cursor: pointer;
	// Hover effect.
	&:hover {
		filter: brightness(1%);
	}
}

// Free trial button with no radius.
%navbar-free-trial-no-radius {
	border-bottom: 1px solid $navbar-btn-bg-color;
	border-top: 2px solid $navbar-btn-bg-color;
	// Hover effect.
	&:hover > img {
		filter: brightness(0);
	}
	// From 1170 to 0.
	@media #{$navbar-1170} {
		font-size: 16px;
	}
	// Right arrow.
	img {
		transition: filter .3s cubic-bezier(.7, 0, .3, 1);
		filter: brightness(100%);
	}
}
