/**
* @fileoverview: GitLab app global navbar variables stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @project: GitLab - https://www.google.com
* @supported: DESKTOP, MOBILE
* @file: variables.scss
* @created: 2023-06-16
* @updated: 2023-06-19
* @version: 0.0.1
*/

// Responsive breakpoints.
$less-than-or-equal-1170: "only screen and (max-width: 1170px)" !default;
$less-than-or-equal-1050: "only screen and (max-width: 1050px)" !default;
$less-than-or-equal-575: "only screen and (max-width: 575px)" !default;

// Colors theme.
$navbar-free-trial-color: $primary-color !default;
$navbar-menu-items-border-color: #ccc !default;
$navbar-option-color: #74717a !default;
$navbar-primary-color: #fff !default;
$navbar-bg-color: #fff !default;
