/**
* @project: GitLab - https://obrymec.gitlab.io/gitlab_home_page_clone/
* @fileoverview: GitLab navbar variables stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP, MOBILE
* @file: variables.scss
* @created: 2023-06-16
* @updated: 2023-09-28
* @version: 0.0.2
*/

// Responsive breakpoints.
$navbar-1170: "only screen and (max-width: 1170px)" !default;
$navbar-1050: "only screen and (max-width: 1050px)" !default;
$navbar-575: "only screen and (max-width: 575px)" !default;

// Colors theme.
$navbar-menu-items-bg-color: lighten($primary-color, 80%) !default;
$navbar-menu-items-border-color: #ccc !default;
$navbar-btn-bg-color: $primary-color !default;
$navbar-option-color: #74717a !default;
$navbar-bg-color: #fff !default;
