/**
* @project: GitLab - https://obrymec.gitlab.io/gitlab_home_page_clone/
* @fileoverview: GitLab faq placeholders stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP, MOBILE
* @file: placeholders.scss
* @created: 2023-07-20
* @updated: 2023-09-28
* @version: 0.0.2
*/

// Custom dependencies.
@import "./_variables.scss";

// Free trial button.
%faq-free-trial-btn {
	background-color: $faq-btn-bg-color;
  border: 1px solid $faq-btn-bg-color;
  border-radius: 4px;
	// Hover effect.
	&:hover {
		background-color: $faq-btn-text-color;
	}
}
