/**
* @project: GitLab - https://obrymec.gitlab.io/gitlab_home_page_clone/
* @fileoverview: GitLab banner variables stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP, MOBILE
* @file: variables.scss
* @created: 2023-06-17
* @updated: 2023-09-28
* @version: 0.0.2
*/

// Responsive breakpoints.
$banner-1080: "only screen and (max-width: 1080px) and (min-width: 771px)" !default;
$banner-770: "only screen and (max-width: 770px)" !default;
$banner-420: "only screen and (max-width: 420px)" !default;

// Resources.
$banner-bg-image-path: "./assets/images/gradient-desktop.jpg" !default;

// Colors theme.
$banner-label-bg-start-color: #f5f1ff !default;
$banner-primary-color: $primary-color !default;
$banner-label-bg-end-color: #eee7fd !default;
$banner-btn-bg-color: #fff !default;
