/**
* @project: GitLab - https://obrymec.gitlab.io/gitlab_home_page_clone/
* @author: Obrymec - obrymecsprinces@gmail.com
* @fileoverview: GitLab badges stylesheet.
* @supported: DESKTOP, MOBILE
* @created: 2023-07-13
* @updated: 2023-09-28
* @file: badges.scss
* @version: 0.0.2
*/

// Custom dependencies.
@import "./_placeholders.scss";
@import "./_variables.scss";

// Show head.
.bds-head-show {
  transform: translateY(0) !important;
}

// Show background.
section.bds-show {
  opacity: 1 !important;
}

// Badges section.
section.badges {
  background-color: $badges-bg-color;
  transform: translate3d(0, 0, 0);
  margin-bottom: 96px;
  overflow: hidden;
  padding: 96px 5%;
  opacity: 0;
  // From 770 to 0.
  @media #{$badges-770} {
    padding: 96px 16px;
  }
}

// Header.
div.bds-head {
  transform: translateY(-156%);
  // Huge title.
  h2:first-child {
    color: $badges-intial-text-color;
    letter-spacing: -1.4px;
    margin-bottom: 64px;
    line-height: 60px;
    font-weight: 600;
    font-size: 50px;
    // From 770 to 0.
    @media #{$badges-770} {
      margin-bottom: 24px;
    }
  }
}

// Buttons container.
div.bds-options {
  margin-bottom: 64px;
  display: flex;
  gap: 16px;
  // From 770 to 0.
  @media #{$badges-770} {
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;
  }
  // First button.
  button:first-child {
    background-color: $badges-btn-bg-color;
    @extend %badges-btn-design;
  }
  // Last button.
  button:last-child {
    background-color: $badges-btn-bg-color-2;
    @extend %badges-btn-design;
    // Hover effect.
    &:hover {
      background-color: $badges-btn-bg-color;
    }
  }
}

// Footer.
div.bds-foot {
  display: flex;
  // From 770 to 0.
  @media #{$badges-770} {
    flex-direction: column;
  }
  // Right content.
  div.bds-right {
    justify-content: flex-start;
    transform: translateX(150%);
    flex-wrap: wrap;
    display: flex;
    flex: 1 0 50%;
    gap: 42px;
    // From 770 to 0.
    @media #{$badges-770} {
      justify-content: center;
      margin-bottom: 24px;
    }
  }
  // Show left/right part.
  div.bds-part-show {
    transform: translateX(0);
  }
  // The second learn more button.
  & > button:last-child {
    transform: translateY(400%);
    @extend %badges-lm-btn;
    display: none;
    // From 770 to 0.
    @media #{$badges-770} {
      display: inline-flex;
    }
  }
}

// Left content.
div.bds-left {
  transform: translateX(-150%);
  padding-right: 24px;
  width: 100%;
  // Short paragraph.
  p {
    color: $badges-intial-text-color;
    margin-bottom: 24px;
    line-height: 40px;
    font-size: 32px;
    width: 76%;
    // From 1350 to 1150.
    @media #{$badges-1350} {
      width: 90%;
    }
    // From 1150 to 0.
    @media #{$badges-1150} {
      width: auto;
    }
  }
  // Medium title.
  strong {
    color: $badges-intial-text-color;
    font-weight: bold;
  }
  // The first learn more button.
  button:last-child {
    @extend %badges-lm-btn;
    // From 770 to 0.
    @media #{$badges-770} {
      display: none;
    }
  }
}
