/**
* @project: GitLab - https://obrymec.gitlab.io/gitlab_home_page_clone/
* @fileoverview: GitLab services placeholders stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP, MOBILE
* @file: placeholders.scss
* @created: 2023-06-24
* @updated: 2023-09-28
* @version: 0.0.1
*/

// Inline flexbox.
%services-inline-flexbox {
	display: inline-flex;
	flex-direction: row;
}
  
// Column flexbox.
%services-column-flexbox {
	flex-direction: column;
	display: flex;
}
