/**
* @project: GitLab - https://obrymec.gitlab.io/gitlab_home_page_clone/
* @fileoverview: GitLab customers animations stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP, MOBILE
* @file: animations.scss
* @created: 2023-08-12
* @updated: 2023-09-28
* @version: 0.0.1
*/

// Common customers logo animation
// starting value.
span.guest-logo-as {
  transform: scale(0);
}

// Common customers logo animation
// finishing value.
span.guest-logo-af {
  transform: scale(1);
}
