/**
* @project: GitLab - https://obrymec.gitlab.io/gitlab_home_page_clone/
* @fileoverview: GitLab customers variables stylesheet.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP, MOBILE
* @file: variables.scss
* @created: 2023-06-21
* @updated: 2023-09-28
* @version: 0.0.1
*/

// Responsive breakpoints.
$customers-766: "only screen and (max-width: 766px)" !default;
$customers-500: "only screen and (max-width: 500px)" !default;

// Colors theme.
$customers-text-color: $primary-color !default;
