/**
* @project: GitLab - https://obrymec.gitlab.io/gitlab_home_page_clone/
* @fileoverview: GitLab app global configurations for light theme.
* @author: Obrymec - obrymecsprinces@gmail.com
* @supported: DESKTOP, MOBILE
* @created: 2023-06-16
* @updated: 2023-09-28
* @file: light.scss
* @version: 0.0.2
*/

// Fonts family.
$inter-regular-sans-serif: "InterRegular", sans-serif !default;
$inter-regular: "./assets/fonts/inter-regular.ttf" !default;
$inter-regular-font: "InterRegular" !default;

// Colors theme.
$skeleton-shadow-color: rgba(0, 0, 0, 0.05) !default;
$skeleton-line-color-1: #ececec !default;
$skeleton-line-color-2: #f5f5f5 !default;
$skeleton-line-color-3: #ececec !default;
$primary-color: #171321 !default;
